<footer class="footer">
    <div class="footer-content container">
      <div class="f-l">
            <div class="links">
                <span>
                    <a rel="nofollow" href="https://localhost:44306/sitemap.xml" target="_blank">网站地图</a>
                </span>
                <span>
                    <a rel="nofollow" href="mailto:mail@521.org.cn" target="_blank">反馈建议</a>
                </span>
                <span>
                    <a rel="nofollow" href="https://github.com/91651/-" target="_blank">网站源码</a>
                </span>
            </div>
            <div class="copyright">
                <p>
                    Copyright © @(DateTime.Now.Year)
                    <a href="/"><span style="letter-spacing:1px;"><font color="#F7DC6F">遇见时光</font><font color="#2ECC71"> (1bk.cn) </font></span></a>
                </p>
                <p>
                    本站由<a rel="nofollow" href="https://dotnet.microsoft.com/zh-cn" target="_blank"> .NET@(Environment.Version.Major) </a>驱动 & <a rel="nofollow" href="https://dotnet.microsoft.com/zh-cn/apps/aspnet/web-apps/blazor" target="_blank"> Blazor </a>技术呈现
                </p>
                <p>
                    <BlazorRuntime />
                </p>
            </div>
      </div>
      <div class="f-r">
            <div class="share">
                <a class="share-icon" title="微信">
                    <svg width="32" height="32" viewBox="0 0 32 26" xmlns="http://www.w3.org/2000/svg"><path d="M22.3607 8.2701C22.5714 8.2701 22.7821 8.27725 22.9893 8.28796C22.1179 3.69153 17.3357 0.177246 11.5643 0.177246C5.17857 0.177246 0 4.48439 0 9.79868C0 12.6951 1.55714 15.3058 3.99643 17.0701C4.09704 17.1411 4.17909 17.2353 4.23565 17.3447C4.29222 17.4541 4.32164 17.5755 4.32143 17.6987C4.32143 17.7844 4.30357 17.863 4.28214 17.9451C4.08571 18.6701 3.775 19.8308 3.76072 19.8844C3.73571 19.9772 3.7 20.0701 3.7 20.1665C3.7 20.3772 3.87143 20.5522 4.08571 20.5522C4.16786 20.5522 4.23571 20.5201 4.30714 20.4808L6.83929 19.0201C7.02857 18.9094 7.23214 18.8415 7.45357 18.8415C7.56786 18.8415 7.68214 18.8594 7.79286 18.8915C8.975 19.2308 10.25 19.4201 11.5679 19.4201C11.7821 19.4201 11.9929 19.4165 12.2036 19.4058C11.95 18.6558 11.8143 17.8665 11.8143 17.0487C11.8143 12.1987 16.5357 8.2701 22.3607 8.2701ZM15.4214 5.18082C16.2714 5.18082 16.9643 5.8701 16.9643 6.7201C16.9643 7.5701 16.275 8.25939 15.4214 8.25939C14.5714 8.25939 13.8786 7.5701 13.8786 6.7201C13.8786 5.8701 14.5714 5.18082 15.4214 5.18082ZM7.71072 8.25939C6.86071 8.25939 6.16786 7.5701 6.16786 6.7201C6.16786 5.8701 6.85714 5.18082 7.71072 5.18082C8.56429 5.18082 9.25357 5.8701 9.25357 6.7201C9.25357 7.5701 8.56072 8.25939 7.71072 8.25939ZM28.6679 23.1022C30.7 21.6308 31.9964 19.4594 31.9964 17.0415C31.9964 12.613 27.6821 9.02367 22.3571 9.02367C17.0357 9.02367 12.7179 12.613 12.7179 17.0415C12.7179 21.4701 17.0321 25.0594 22.3571 25.0594C23.4571 25.0594 24.5214 24.9022 25.5036 24.6201C25.5964 24.5915 25.6893 24.5772 25.7857 24.5772C25.9714 24.5772 26.1393 24.6344 26.2964 24.7237L28.4071 25.938C28.4679 25.9737 28.525 25.9987 28.5929 25.9987C28.6352 25.999 28.6772 25.991 28.7164 25.975C28.7556 25.9591 28.7913 25.9356 28.8214 25.9058C28.8512 25.8757 28.8747 25.84 28.8907 25.8008C28.9066 25.7616 28.9146 25.7196 28.9143 25.6772C28.9143 25.5987 28.8821 25.5201 28.8643 25.4415C28.8536 25.3987 28.5929 24.4308 28.4286 23.8237C28.4107 23.7558 28.3964 23.688 28.3964 23.6201C28.4 23.4094 28.5071 23.2201 28.6679 23.1022ZM19.3893 15.7272C18.6821 15.7272 18.1179 15.163 18.1179 14.4558C18.1179 13.7487 18.6821 13.1844 19.3893 13.1844C20.0964 13.1844 20.6607 13.7487 20.6607 14.4558C20.6607 15.163 20.0964 15.7272 19.3893 15.7272ZM25.3286 15.7272C24.6214 15.7272 24.0571 15.163 24.0571 14.4558C24.0571 13.7487 24.6214 13.1844 25.3286 13.1844C26.0357 13.1844 26.6 13.7487 26.6 14.4558C26.6 15.163 26.0357 15.7272 25.3286 15.7272Z" fill="#A97BFF"></path></svg>
                </a>
                <a class="share-icon" title="QQ" href="tencent://message/?uin=81896766&site=qq&Menu=yes" target="_blank" rel="nofollow">
                    <svg width="32" height="32" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M824.8 613.2c-16-51.4-34.4-94.6-62.7-165.3C766.5 262.2 689.3 112 511.5 112 331.7 112 256.2 265.2 261 447.9c-28.4 70.8-46.7 113.7-62.7 165.3-34 109.5-23 154.8-14.6 155.8 18 2.2 70.1-82.4 70.1-82.4 0 49 25.2 112.9 79.8 159-26.4 8.1-85.7 29.9-71.6 53.8 11.4 19.3 196.2 12.3 249.5 6.3 53.3 6 238.1 13 249.5-6.3 14.1-23.8-45.3-45.7-71.6-53.8 54.6-46.2 79.8-110.1 79.8-159 0 0 52.1 84.6 70.1 82.4 8.5-1.1 19.5-46.4-14.5-155.8z" fill="#A97BFF"></path></svg>                </a>
                <a class="share-icon" title="微博" href="https://weibo.com/" target="_blank" rel="nofollow">
                    <svg width="32" height="32" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M937.4 423.9c-84 0-165.7-27.3-232.9-77.8v352.3c0 179.9-138.6 325.6-309.6 325.6S85.3 878.3 85.3 698.4c0-179.9 138.6-325.6 309.6-325.6 17.1 0 33.7 1.5 49.9 4.3v186.6c-15.5-6.1-32-9.2-48.6-9.2-76.3 0-138.2 65-138.2 145.3 0 80.2 61.9 145.3 138.2 145.3 76.2 0 138.1-65.1 138.1-145.3V0H707c0 134.5 103.7 243.5 231.6 243.5v180.3l-1.2 0.1" fill="#A97BFF"></path></svg>
                </a>
            </div>
        </div>
    </div>
</footer>

@code {

}
