<footer class="footer">
    <div class="footer-content container">
      <div class="f-l">
            <div class="links">
                <span>
                    <a rel="nofollow" href="https://localhost:44306/sitemap.xml" target="_blank">网站地图</a>
                </span>
                <span>
                    <a rel="nofollow" href="mailto:mail@521.org.cn" target="_blank">反馈建议</a>
                </span>
                <span>
                    <a rel="nofollow" href="https://github.com/91651/-" target="_blank">网站源码</a>
                </span>
            </div>
            <div class="copyright">
                <p>
                    Copyright © @(DateTime.Now.Year)
                    <a href="/"><span style="letter-spacing:1px;"><font color="#F7DC6F">遇见时光</font><font color="#2ECC71"> (1bk.cn) </font></span></a>
                </p>
                <p>
                    本站由<a rel="nofollow" href="https://dotnet.microsoft.com/zh-cn" target="_blank"> .NET@(Environment.Version.Major) </a>驱动 & <a rel="nofollow" href="https://dotnet.microsoft.com/zh-cn/apps/aspnet/web-apps/blazor" target="_blank"> Blazor </a>技术呈现
                </p>
                <BlazorRuntime />
            </div>
      </div>
      <div class="f-r">
            <div class="share">
                <a class="share-icon" title="微信">
                    <img src="/img/wechat-icon.svg" width="32" height="32" alt="wechat icon">
                    <div class="qrcode"><img src="/img/wechat-qrcode.png" alt="qrcode img"></div>
                </a>
                <a class="share-icon" title="QQ" href="https://qm.qq.com/cgi-bin/qm/qr?k=LHL7HloX_dbz6Bt7meA9V0xbCOvc66Nz&jump_from=webapi&authKey=0Fhh/hbdF4Q4wBpibcusRIeToXDijrGT5X5lOC8hpyFCeDFpgoZV8HbFgTKDmpiV" target="_blank" rel="nofollow">
                    <img src="/img/qq-icon.svg" width="32" height="32" alt="qq icon">
                    <div class="qrcode"><img src="/img/qq-qrcode.png" alt="qrcode img"></div>
                </a>
                <a class="share-icon" title="微博">
                    <img src="/img/douyin-icon.svg" width="32" height="32" alt="douyin icon">+
                    <div class="qrcode"><img src="/img/douyin-qrcode.png" alt="qrcode img"></div>
                </a>
            </div>
        </div>
    </div>
</footer>

@code {

}
