.page-container {
    .form-group {
        display: flex;
        flex: auto;
        align-items: center;
        gap: 12px;
        max-width: 360px;

        label {
            max-width: 20%;
            flex: 0 0 20%;
            text-align: end;
            white-space: nowrap;
        }
    }

    ::deep {

        .ant-table {
            .ant-table-body {
                max-height: 420px;
            }
        }
    }
}
