article {
  max-width: 1200px;
  margin: 100px auto 0;
  overflow: hidden;
  z-index: 999;
}
main {
  overflow: hidden;
  clear: both;
  width: 70%;
  float: left;
  z-index: 1;
  display: block;
  position: relative;
}
