@media only screen and (max-width: 767px) {
  aside {
    display: none;
  }
}
.box-section {
  width: 29%;
  float: right;
}
.box-section h2 {
  color: #333333;
  font-size: 14px;
  line-height: 30px;
  padding-left: 20px;
  background: #f8f8f8;
  border-bottom: 1px solid #dddddd;
}
.box-section div {
  background: white;
  margin: 10px 0;
  overflow: hidden;
  border: 1px solid #dddddd;
}
.box-section div ul {
  padding: 10px;
  overflow: hidden;
}
.about-me img {
  width: 60%;
  margin: auto;
  border-radius: 10%;
}
.about-me p {
  line-height: 24px;
  font-size: 14px;
}
.about-me i {
  width: 100%;
}
.channel li {
  margin-bottom: 10px;
  margin-left: 10px;
}
