@using App.Business.Model
@using App.Business.Services

    <div class="search-box">
        <div  class="@(IsShowSearchInput ? "search-bar search-open" : "search-bar")">
            <form method="get" action="/search" >
                <input name="word" class="input" placeholder="写下所想，并按回车..." type="text">
                <p class="search-ico" @onclick="ShowSearchInput"> <span></span></p>
            </form>
        </div>
    </div>

@code {
    private bool IsShowSearchInput;

    private void ShowSearchInput()
    {
        IsShowSearchInput = !IsShowSearchInput;
    }
}