@inherits LayoutComponentBase

<div class="main-layout">
    <Layout Style="height:100vh;">
        <Header Class="header">
            <div class="logo" />
            @if (collapsed)
                {
                    <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="toggle" />
                }
                else
                {
                    <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="toggle" />
                }
        </Header>
        <Layout>
            <Sider Width="200" Class="main-layout-background" Breakpoint="@BreakpointType.Lg"
               CollapsedWidth="64" OnBreakpoint="@(broken => {
                Console.WriteLine($"OnBreakpoint:{broken}");
                })"
                Collapsed=@collapsed NoTrigger OnCollapse="OnCollapse">
                <Menu Mode="MenuMode.Inline"
                      DefaultSelectedKeys=@(new[] {"1"})
                      DefaultOpenKeys=@(new[] {"sub1"})
                      Style="height: 100%; border-right: 0;">
                    @{ RenderFragment sub1Title =
                            @<span>
                                <Icon Type="experiment" Theme="outline" />
                                <span class="nav-text">文章管理</span>
                            </span>; }
                        <SubMenu Key="sub1" Title="文章管理" TitleTemplate=sub1Title>
                            <NavLink class="nav-link" href="/admin/article" Match="NavLinkMatch.Prefix">
                                <MenuItem Key="sub1m1">列表</MenuItem>
                            </NavLink>
                            <NavLink class="nav-link" href="/admin/article/add" Match="NavLinkMatch.Prefix">
                                <MenuItem Key="sub1m2">添加</MenuItem>
                            </NavLink>
                        </SubMenu>
                </Menu>
            </Sider>
            <Layout Style=" padding: 0 10px 10px;">
                <Content Class="site-layout-background" Style=" padding: 10px; margin: 0; min-height: 280px;">
                    @Body
                </Content>
            </Layout>
        </Layout>
    </Layout>
</div>

@code
{
    bool collapsed;

    void toggle()
    {
        collapsed = !collapsed;
    }
    void OnCollapse(bool isCollapsed)
    {
        collapsed = !collapsed;
    }
}