@page "/speedtest"

@using System.Net.Http.Json
@using System.Net.Http.Headers
@using System.Globalization
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager

<PageTitle>网速测试 | 遇见时光-1bk.cn</PageTitle>
<HeadContent>
    <meta name="keywords" content="在线测速,网速测试,下载速度测试">
    <meta name="description" content="多地多节点测试您的网速，同时具备网络延迟实时检测">
</HeadContent>

<style>
    .stat {
        width: 100%;
        column-gap: 1rem;
        padding: 1rem 1.5rem;
    }

    .stat-title {
        white-space: nowrap;
        opacity: .6;
    }

    .stat-value {
        white-space: nowrap;
        grid-column-start: 1;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.5rem
    }
</style>
<div class="container">
    <div class="card card-preview">
        <div class="card-inner mt-3">

            <div class="form-group">
                <label class="form-label">测试地址</label>
                <div class="form-control-wrap">
                    <select id='select'
                            onchange="document.getElementById('link').value=this.options[this.selectedIndex].value;setCookie('select',this.selectedIndex,365);"
                            type="text" class="form-control">
                        <option value="" id="diy">自定义</option>
                        <option selected="selected" value="https://wppkg.baidupcs.com/issue/netdisk/apk/BaiduNetdisk_10.1.02.apk">百度CDN [高速]</option>
                        <option value="https://img.alicdn.com/imgextra/i1/O1CN01xA4P9S1JsW2WEg0e1_!!6000000001084-2-tps-2880-560.png">阿里CDN</option>
                        <option value="https://wwwstatic.vivo.com.cn/vivoportal/files/resource/funtouch/1651200648928/images/os2-jude-video.mp4">Vivo</option>
                        <option value="https://img.mcloud.139.com/material_prod/material_media/20221128/1669626861087.png">和彩云</option>
                        <option value="https://vod-origin-rjzy.gdoss.xstore.ctyun.cn/07da9eb52ad948c7b58b760003c0006b.mp4">天翼云</option>
                        <option value="https://cachefly.cachefly.net/100mb.test">Cachefly Test [Global]</option>
                        <option value="https://speed.cloudflare.com/__down?bytes=1073741824">Cloudflare Speed [Global]</option>
                    </select>
                    <input value=""
                           oninput="document.getElementById('select').selectedIndex=0;document.getElementById('diy').value=this.value;setCookie('diy',this.value,365);setCookie('select',0,365);" type="text" id="link"
                           placeholder="请输入下载链接" autocomplete="off" class="form-control" style="margin-top:20px;">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">线程</label>
                <div class="form-control-wrap number-spinner-wrap">
                    <button onclick="var thread=document.getElementById('thread');if(thread.value!=thread.min)thread.value--;"
                            class="btn btn-icon btn-outline-primary number-spinner-btn p-0">
                        <em><svg class="icon" viewBox="0 0 1024 1024"><path d="M875.263467 495.52477c0 11.307533-9.15859 20.466124-20.466124 20.466124l-655.325289 0c-11.307533 0-20.466124-9.15859-20.466124-20.466124 0-11.2973 9.15859-20.466124 20.466124-20.466124l655.325289 0C866.104877 475.058646 875.263467 484.22747 875.263467 495.52477z"></path></svg></em>
                    </button> <input onchange="var self= document.getElementById('thread');if(self.value<self.min)self.value=self.min;if(self.value>self.max)self.value=self.max"
                                     id='thread' type="number" min="1" max="32" value=1 class="form-control number-spinner"> <button onclick="var thread=document.getElementById('thread');if(thread.value!=thread.max)thread.value++;"
                                                                                                                                     class="btn btn-icon btn-outline-primary number-spinner-btn number-plus p-0">
                        <em><svg class="icon" viewBox="0 0 1024 1024"><path d="M512 128a32 32 0 0 1 32 32v320h320a32 32 0 1 1 0 64H543.968L544 864a32 32 0 1 1-64 0l-0.032-320H160a32 32 0 1 1 0-64h320V160a32 32 0 0 1 32-32z"></path></svg></em>
                    </button>
                </div>
            </div>
            <button onclick="botton_clicked();" type="button" id="do" class="btn btn-dim btn-outline-secondary btn-block card-link">
                开始
            </button>
            <div class="row mt-4">
                <div class="col-sm-12 col-md-4 border stat" onclick='inputMax=prompt("请输入流量上限(GB)\n不填为不设置上限","");if(inputMax !== null)setMax(inputMax)'>
                    <div class="text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" class="h-15 w-15 float-right pt-3">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z">
                            </path>
                        </svg>
                    </div>
                    <div class="stat-title">总流量<a id="showMax"></a></div>
                    <div class="stat-value" id="total">-</div>
                </div>
                <div class="col-sm-12 col-md-4 border stat">
                    <div class="text-info">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" class="h-15 w-15 float-right pt-3">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                  d="M16.469,8.924l-2.414,2.413c-0.156,0.156-0.408,0.156-0.564,0c-0.156-0.155-0.156-0.408,0-0.563l2.414-2.414c1.175-1.175,1.175-3.087,0-4.262c-0.57-0.569-1.326-0.883-2.132-0.883s-1.562,0.313-2.132,0.883L9.227,6.511c-1.175,1.175-1.175,3.087,0,4.263c0.288,0.288,0.624,0.511,0.997,0.662c0.204,0.083,0.303,0.315,0.22,0.52c-0.171,0.422-0.643,0.17-0.52,0.22c-0.473-0.191-0.898-0.474-1.262-0.838c-1.487-1.485-1.487-3.904,0-5.391l2.414-2.413c0.72-0.72,1.678-1.117,2.696-1.117s1.976,0.396,2.696,1.117C17.955,5.02,17.955,7.438,16.469,8.924 M10.076,7.825c-0.205-0.083-0.437,0.016-0.52,0.22c-0.083,0.205,0.016,0.437,0.22,0.52c0.374,0.151,0.709,0.374,0.997,0.662c1.176,1.176,1.176,3.088,0,4.263l-2.414,2.413c-0.569,0.569-1.326,0.883-2.131,0.883s-1.562-0.313-2.132-0.883c-1.175-1.175-1.175-3.087,0-4.262L6.51,9.227c0.156-0.155,0.156-0.408,0-0.564c-0.156-0.156-0.408-0.156-0.564,0l-2.414,2.414c-1.487,1.485-1.487,3.904,0,5.391c0.72,0.72,1.678,1.116,2.696,1.116s1.976-0.396,2.696-1.116l2.414-2.413c1.487-1.486,1.487-3.905,0-5.392C10.974,8.298,10.55,8.017,10.076,7.825">
                            </path>
                        </svg>
                    </div>
                    <div class="stat-title" id="describe">实时速度</div>
                    <div class="stat-value text-info" id="speed">-</div>
                </div>
                <div class="col-sm-12 col-md-4 border stat">
                    <div class="text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" class="h-15 w-15 float-right pt-3">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                        </svg>
                    </div>
                    <div class="stat-title">带宽</div>
                    <div class="stat-value" id="mbps">-</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-preview">
        <div class="card-inner">
            <div class="net-info">
                <svg class="icon" viewBox="0 0 1024 1024">
                    <path d="M282.624 905.216h458.752c21.844992 0 32.768 10.923008 32.768 32.768s-10.923008 32.768-32.768 32.768H282.624c-21.844992 0-32.768-10.923008-32.768-32.768s10.923008-32.768 32.768-32.768z m524.288-491.52c-2.048-83.284992-30.891008-152.747008-86.528-208.384S595.284992 120.832 512 118.784c-83.284992 2.048-152.747008 30.891008-208.384 86.528S219.136 330.411008 217.088 413.696c0 60.756992 24.404992 130.219008 73.216 208.384S413.012992 786.772992 512 881.664c98.987008-94.891008 172.884992-181.419008 221.696-259.584S806.912 474.452992 806.912 413.696zM512 970.752C271.700992 752.299008 151.552 566.612992 151.552 413.696c2.731008-102.4 37.888-187.392 105.472-254.976S409.6 55.979008 512 53.248c102.4 2.731008 187.392 37.888 254.976 105.472s102.740992 152.576 105.472 254.976c0 152.916992-120.148992 338.603008-360.448 557.056z m0-458.752c27.988992-0.683008 51.2-10.24 69.632-28.672s27.648-41.643008 27.648-69.632-9.216-51.2-27.648-69.632-41.643008-27.648-69.632-27.648-51.2 9.216-69.632 27.648-27.648 41.643008-27.648 69.632 9.216 51.2 27.648 69.632 41.643008 27.988992 69.632 28.672z m0 65.536c-46.420992-1.364992-84.992-17.408-115.712-48.128s-46.763008-69.291008-48.128-115.712c1.364992-46.420992 17.408-84.992 48.128-115.712s69.291008-46.763008 115.712-48.128c46.420992 1.364992 84.992 17.408 115.712 48.128s46.763008 69.291008 48.128 115.712c-1.364992 46.420992-17.408 84.992-48.128 115.712s-69.291008 46.763008-115.712 48.128z"></path>
                </svg>
                出口地址
            </div>
            <div class="accordion-inner">
                <li class="nk-menu-item ">
                    <a style="pointer-events:none;" id="ipv4">Loading...</a>
                    <a style="pointer-events:none;float: right;" id="laycn">-ms</a>
                </li>
            </div>
        </div>
    </div>
</div>
<script src="@Assets["Pages/SpeedTest.razor.js"]"></script>

@code {

}