/* Error: Invalid UTF-8.
 *   ,
 * 6 |     // �޸Ĵ�����������ɫ
 *   |        ^
 *   '
 *   Pages\Article.razor.scss 6:8  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Invalid UTF-8.\a   \2577 \a 6 \2502      // \fffd \7b8 \134 \fffd \fffd \fffd \fffd \fffd \fffd \fffd \fffd \fffd \fffd \fffd \26b \d\a   \2502         ^\a   \2575 \a   Pages\\Article.razor.scss 6:8  root stylesheet";
}
