.container {
  margin: 130px auto;
  width: 100%;
  padding-right: 14px;
  padding-left: 14px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  color: #798bff;
  text-decoration: none;
  background-color: transparent;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

label {
  display: inline-block;
  margin-bottom: 16px;
}

input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

button {
  border-radius: 0;
}

input, button, select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled), [type=button]:not(:disabled) {
  cursor: pointer;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.h6 {
  margin-bottom: 0.5rem;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #364a63;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -14px;
  margin-left: -14px;
}

.col-sm-12, .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 14px;
  padding-left: 14px;
}

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.125rem + 2px);
  padding: 0.4375rem 1rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #3c4d62;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dbdfea;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.border {
  border: 1px solid #dbdfea !important;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #3c4d62;
}

.form-control:focus {
  color: #3c4d62;
  background-color: #fff;
  border-color: #6576ff;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(101, 118, 255, 0.1);
}

.form-control::placeholder {
  color: #b6c6e3;
  opacity: 1;
}

input[type=date].form-control {
  appearance: none;
}

select.form-control:focus::-ms-value {
  color: #3c4d62;
  background-color: #fff;
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  color: #526484;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4375rem 1.125rem;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-outline-primary {
  color: #6576ff;
  border-color: #6576ff;
}

.btn-outline-secondary {
  color: #364a63;
  border-color: #364a63;
}

.btn-block {
  display: block;
  width: 100%;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #6576ff;
  background-color: #6576ff;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(calc(2rem - 8px));
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  transform: translateX(1.5rem);
}

.custom-switch .custom-control-label::after {
  opacity: 1;
  top: 0.25rem;
  left: calc(-3.75rem + 4px);
  width: 1rem;
  height: 1rem;
  border-radius: 1.5rem;
}

.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.44375rem;
  padding-left: 2.25rem;
}

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1.5rem;
  height: 1.47187rem;
  opacity: 0;
}

.custom-control-input:before, .custom-control-input:after {
  z-index: 1;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-label::before {
  position: absolute;
  top: -0.02813rem;
  left: -2.25rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #dbdfea solid 2px;
}

.custom-control-label::after {
  position: absolute;
  top: -0.02813rem;
  left: -2.25rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}

.custom-switch {
  padding-left: 3.75rem;
}

.custom-switch .custom-control-label::before {
  left: -3.75rem;
  width: 3rem;
  pointer-events: all;
  border-radius: 1.5rem;
}

.custom-switch .custom-control-label::after {
  top: calc(-0.02813rem + 4px);
  left: calc(-3.75rem + 4px);
  width: 1rem;
  height: 1rem;
  background-color: #dbdfea;
  border-radius: 1.5rem;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .custom-switch .custom-control-label::after {
    transition: none;
  }
}
.custom-control-label::before {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .custom-control-label::before {
    transition: none;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

.float-right {
  float: right !important;
}

.mt-3, .my-3 {
  margin-top: 1rem !important;
}

.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}

.pt-3, .py-3 {
  padding-top: 1rem !important;
}

.text-dark {
  color: #1c2b46 !important;
}

html {
  font-size: 16px;
}

a {
  transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s;
}

h5, .h5, h6, .h6 {
  letter-spacing: -0.01em;
}

@media (min-width: 992px) {
  h6, .h6 {
    font-size: 1.05rem;
  }
}
svg {
  height: 100%;
  max-width: 100%;
}

.w-15 {
  width: 15% !important;
}

.btn {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
}

.btn .icon {
  font-size: 1.4em;
  line-height: inherit;
}

.btn-block {
  justify-content: center;
}

.btn-icon:not([class*=btn-icon-break]) {
  padding-left: 0;
  padding-right: 0;
}

.btn-icon .icon {
  width: 2.125rem;
}

.btn-dim.btn-outline-secondary {
  color: #364a63;
  background-color: #e9ebee;
  border-color: #b9c0c8;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #364a63;
  border-color: #364a63;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 74, 99, 0.5);
}

.card + .card {
  margin-top: 28px;
}

.card-inner {
  padding: 1.25rem;
}

@media (min-width: 576px) {
  .card-inner {
    padding: 1.5rem;
  }
}
.form-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #344357;
  margin-bottom: 0.5rem;
}

.form-control-wrap, .form-control-group {
  position: relative;
}

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.custom-control {
  display: inline-flex;
  min-height: 1.5rem;
}

.custom-control-label {
  font-size: 14px;
  line-height: 1.25rem;
  padding-top: 0.125rem;
}

.custom-control-label::before, .custom-control-label::after {
  top: 0;
}

.custom-control-label:after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: none !important;
  font-family: "Nioicon";
  color: #fff;
  opacity: 0;
}

.custom-switch {
  padding-left: 3.75rem;
}

.custom-switch .custom-control-label::before {
  left: -3.75rem;
  width: 3rem;
  border-radius: 1.5rem;
}

.custom-switch .custom-control-label::after {
  opacity: 1;
  top: 0.25rem;
  left: calc(-3.75rem + 4px);
  width: 1rem;
  height: 1rem;
  border-radius: 1.5rem;
}

label {
  cursor: pointer;
}

.ni {
  font-family: "Nioicon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ni-plus:before {
  content: "\eb44";
}

.ni-minus:before {
  content: "\eafa";
}

.ni-info:before {
  content: "\eaa9";
}

body {
  min-width: 320px;
}

.nk-menu-item {
  padding: 2px 0;
}

li {
  list-style: none;
}

.accordion-inner {
  padding: 1rem 1.25rem 1.25rem;
}

@media (min-width: 768px) {
  .accordion-inner {
    padding: 1rem 1.5rem 1.25rem;
  }
}
input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-spinner {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  text-align: center;
}

.number-spinner:focus {
  border-color: #dbdfea;
}

.number-spinner-btn {
  position: absolute;
  top: 0;
}

.number-plus {
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.number-minus {
  left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.card-preview {
  box-shadow: 6px 5px 40px rgba(30, 48, 75, 0.08);
}

.card + .card {
  margin-top: 40px;
}

.btn-block {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-shadow: 0 3px 12px 1px rgba(43, 55, 72, 0.15) !important;
}

/*# sourceMappingURL=SpeedTest.razor.css.map */
