@using Microsoft.AspNetCore.Components.Web
@namespace App.Blazor.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>遇见时光</title>
    <base href="~/" />
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet">
    <link href="~/css/ant-design-blazor-override.css" rel="stylesheet" />
    <link href="~/css/base.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">
    <link href="~/css/m.css" rel="stylesheet">
    <link href="~/css/captcha.css" rel="stylesheet">
    <link href="_content/@(AppDomain.CurrentDomain.FriendlyName).styles.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <script src="~/js/hc-sticky.js"></script>
    <script src="~/js/scrollReveal.js"></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
    <script src="~/js/blazor-app.js"></script>
    <script lang="love">
        console.info("%c%s", "color: #9399; font-size: 12px;", "@(久伴.初见.缘份)");
        console.log("%c ", "padding:70px;background:url(@Html.Raw(@久伴.照片.照片_201804_2)) no-repeat;");
    </script>
</body>
</html>
