// 修改代码高亮区域底色
::deep .hljs {
    background: none;
}

.article-section {
    width: 100%;
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;

    .article-view {
        padding: 0 30px
    }

    .article-title {
        font-size: 24px;
        font-weight: normal;
        padding: 20px 0;
        color: #333;
    }

    .article-info {
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
        clear: both;

        ul {
            overflow: hidden;

            li {
                float: left;
                margin-right: 20px
            }
        }
    }

    .article-summary {
        color: #888888;
        border: 1px solid #F3F3F3;
        padding: 10px;
        margin: 20px auto 15px auto;
        line-height: 23px;
        background: none repeat 0 0 #F6F6F6;

        strong {
            color: #38485A;
            font-weight: 400 !important;
            font-size: 13px;
            padding-right: 8px;
        }
    }

    .next {
        line-height: 24px;
        width: 100%;
        overflow: hidden;
        margin: 20px 0
    }
    .next p {
        padding: 4px 10px;
        border-radius: 5px;
    }

    .next a:hover {
        color: #000;
        text-decoration: underline
    }
}


