.comments ::deep {
    h3 {
        position: relative;
        padding: 0 0 0 12px;
        font-weight: 700;
    }

    h3:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 4px;
        border-radius: 10px;
        background: var(--themeColor);
        content: "";
    }

    .comment-avatar {
        color: #fff;
        background: #ccc;
        border-radius: 50%;
    }


    .comment-avatar {
        padding: 0;
        display: inline-block;
        color: #fff;
        text-align: center;
        background: #ccc;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
    }

    .avatar-string {
        position: absolute;
        transform-origin: 0 center;
        left: 50%;
    }
}
