<footer class="footer">
  <div class="footer_container">
      <div>
          <span>
              <a rel="nofollow" href="mailto:mail@521.org.cn" target="_blank">反馈建议</a>
          </span>
          <span>
              <a rel="nofollow" href="https://github.com/91651/-" target="_blank">网站源码</a>
          </span>
      </div>
      <div class="copyright">
        <p>
            <span>
                Copyright © 遇见时光(1023.org.cn), 2021  本站由<a rel="nofollow" href="https://dotnet.microsoft.com/zh-cn" target="_blank"> .NET6 </a>驱动 & <a rel="nofollow" href="https://dotnet.microsoft.com/zh-cn/apps/aspnet/web-apps/blazor" target="_blank"> Blazor </a>技术呈现
            </span>
        </p>
      </div>
      <RuntimeHeader />
    </div>
</footer>

@code {

}
