@inherits LayoutComponentBase

<PageTitle>遇见时光</PageTitle>

<App.Blazor.Client.Shared.Header />
<article>
    <main>
        @Body
    </main>
    <RightSide />
</article>
<App.Blazor.Client.Shared.Footer />
<a href="#" class="back-top">Top</a>